*{
	margin: 0;
	padding: 0;
	box-sizing: border-box ;
}
body{
	height: 100vh;
	overflow: hidden;
	background-color: #e7c7c7;
}
.wrapper {
	min-height: 100%;
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.div {
	height: 144px;
	width: 144px;
	background-image: url('lightning.svg');
	margin: 0 auto;

}
h1{
	display: block;
	margin: 30px 0;
}

p{
	display: block;
	margin: 30px 0;
}

.text{
	text-align: center;
	margin: 0 auto;
}

.img{
	margin: 5px;
}